.nav {
  grid-area: nav;
  background-color: #a1a1a1;
  padding: 20px;

  &__items {

  }

  &__item {
    a {
      color: $white;
      text-decoration: none;
    }

    .link--active {
      color: #ff0000;
    }
  }
}