$white: #fff;
$black: #000;
$red: #ff0000;

$phone: '(max-width: 767px)';
$phone-min: '(min-width: 320px)';
$tablet: '(max-width: 1199px)';
$tablet-min: '(min-width: 768px)';
$desktop: '(min-width: 1200px)';
$only-tablet: '(max-width: 1199px) and (min-width: 768px)';
$only-desktop: '(min-width: 1200px)';
$not-phone: '(min-width: 768px)';