.wrap {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "nav ctx";
  width: 1200px;
  margin: 0 auto;

  &__content {
    grid-area: ctx;
    background-color: #666666;
  }
}